@import 'bower/components-bootstrap/less/mixins';

/* Full page application */
// http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/


html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 1200px;
}
body {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 9pt;
    min-width: 1200px;
}
th:hover{
    cursor: pointer;
}
#main,#application{
    height: 100%;
}

#titleWrap {
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);

    .title {
        font-size: 2em;
        font-weight: 700;
    }

    .logo{
        width: 36px;
        height: 36px;
        margin: 8px;
    }

    .description {
        font-size: 1.6em;
        margin-left: 10px;
        margin-right: 20px;
    }

    .dataset {
        padding-left: 20px;
        font-size: 1.6em;
        position: fixed;
        top: 15px;
        right: 10px;

    }
}
#content {
    margin: 10px;
    height: ~'calc(100% - 75px)';
}

#labeling .tweet-main {
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    span {
        cursor: pointer;
    }
}
#labeling .tweet-submit {
    margin: 0;
    margin-bottom: 10px;
}
.btn {
    border-radius: 0;
}
#codes .btn {
    margin: 0 5px;
}
#codes .btn.active {
    color: white;
}
#codes .btn.active > .code-name {
    font-weight:600;
}

#codes .btn > .code-definition {
    text-align: justify;
    white-space: normal;
    font-size: 12px;
    height: 100px;
    overflow-y: auto;
}

#panel {
    margin: 5px -10px;
    padding: 10px;
}

#panel .label-item {
    border: solid 1px transparent;
    padding: 5px;
    margin: 5px;
}

.btn-toggle {
    width:24px;
    height:24px;
    background: transparent;
    padding: 2px;
    border-radius: 100%;
    border: solid #333 1px;
    color: #333;
    text-align:center;
    font-size:14px;
    cursor: pointer;
    margin: 2px;
}
.btn-toggle:hover {
    background: #eee;
}
.btn-toggle.active {
    background: #333;
    color: white;
}

.no-padding{
    padding: 0;
}
