@import 'bower/components-bootstrap/less/mixins';

/* Full page application */
// http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/

/* Colors */

/* Offsets */
@review-top-height: 225px;

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 1200px;
    background: #eee;
}
body {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 9pt;
    min-width: 1200px;
}
th:hover{
    cursor: pointer;
}
#main,#application{
    height: 100%;
}

#titleWrap {
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);

    .title {
        font-size: 2em;
        font-weight: 700;
    }

    .logo{
        width: 36px;
        height: 36px;
        margin: 8px;
    }

    .description {
        font-size: 1.6em;
        margin-left: 10px;
        margin-right: 20px;
    }

    .dataset {
        padding-left: 20px;
        font-size: 1.6em;
        position: fixed;
        top: 15px;
        right: 10px;

    }
}
#content {
    height: ~'calc(100% - 75px)';
}

#coding {
    height: 100%;
}
#coding #top-area {
    height: 300px;
}

#coding #bottom-area{
    height: ~'calc(100% - 300px)';
}



#labeling .tweet-main {
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    span {
        cursor: pointer;
    }
}
#labeling .tweet-submit {
    margin: 0;
    margin-bottom: 10px;
}
.btn {
    border-radius: 0;
}

#panel {
    margin: 5px -10px;
    padding: 10px;
    height: 100%;
}

#panel .label-item {
    border: solid 1px transparent;
    padding: 5px;
    margin: 5px;
}

#panel .item-filter {
    display: inline;
}

#panel .item-filter .btn {
    background: transparent;
    border: solid 0 transparent;
}

#reviewing {
    height: 100%;

    #top-area {
        height: @review-top-height;
        padding: 10px;
        margin-top: 10px;
        background: white;

        #definitions {
            height: 150px;

            > div {
                height: 100%;
            }

            p {
                margin: 0;
            }

            .code-definition {
                text-align: justify;
                white-space: normal;
                font-weight: 300;
                font-size: 14px;
                height: calc(100% ~"-" 40px);
                overflow-y: auto;

                &.help-text {
                    color: #777;
                }
            }

            textarea {
                resize: none;
                width: 100%;
                background: transparent;
            }
        }

        #codes {
            .btn {
                margin: 0;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                }

                > .code-definition {
                    text-align: justify;
                    white-space: normal;
                    font-size: 12px;
                    height: 100px;
                }
            }

            .btn.active {
                opacity: 1;
                color: white;
                background-color: #AA3333;
                -webkit-box-shadow: none;
                box-shadow: none;

                > .code-name {
                    font-weight: 600;
                }
            }
        }
    }

    #bottom-area {
        height: calc(100% ~"-" @review-top-height);
        padding-bottom: 50px;

        div[class^="col-"]{
            padding: 0;
        }
    }
}

#reviewing .label-item {
    border: solid 1px transparent;
    padding: 5px;
    margin: 5px;
}

#reviewing .next-step{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.confusion {
    padding: 5px;
    line-height: 10px;
}

.confusion.selected, .confusion:hover.selected {
    background: #aaa;
}

.confusion:hover {
    background: #eee;
}

.confusion-box {
    display:inline-block;
    width: 40%;
    height: 20px;
}
.confusion-size {
    display: inline-block;
    width: 10%;
    vertical-align: top;
    margin: 6px 5px;
}
.btn-toggle {
    width:24px;
    height:24px;
    background: transparent;
    padding: 2px;
    border-radius: 100%;
    border: solid #333 1px;
    color: #333;
    text-align:center;
    font-size:14px;
    cursor: pointer;
    margin: 2px;
}
.btn-toggle:hover {
    background: #eee;
}
.btn-toggle.active {
    background: #333;
    color: white;
}

.no-padding{
    padding: 0;
}

.scroll-y{
    overflow-y: auto;
    height: 100%;
}

h2 {
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

h3 {
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0 5px 0;
}

.inline {
    display: inline;
}


.tweet-selectable {
    font-size: 16px;
    margin: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    span {
        cursor: pointer;
    }
}

#system-features {
    padding: 5px;
    width: 100%;

    .feature-text {
        width: 60%;
        height: 100%;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .feature-distribution {
        width: 30%;
        height: 20px;
        display: inline-block;

        div {
            display: inline-block;
            height: 100%;
        }
    }

    .feature-distribution.feature-empty {
        width: 30%;
        height: 20px;
        background: #eee;
    }

    .feature-total {
        display: inline-block;
        height: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 5px;
    }
}

#user-features {
    padding: 5px;
    width: 100%;

    .feature-text {
        width: 60%;
        height: 100%;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .feature-distribution {
        width: 30%;
        height: 20px;
        display: inline-block;

        div {
            display: inline-block;
            height: 100%;
        }
    }

    .feature-distribution.feature-empty {
        width: 30%;
        height: 20px;
        background: #eee;
    }

    .feature-total {
        display: inline-block;
        height: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 5px;
    }

    .btn {
        border-radius: 100%;
        width: 20px;
        height: 20px;
        font-size: 12px;
        padding: 0;
        margin: 0;
        vertical-align: top;
        display: inline;
        color: #777;
        border-color: #777;
    }
}