<div class="ng-cloak" ng-cloak ng-controller="Aeonium.controllers.CodingController">
    <span us-spinner="Style.spinnerOptions" spinner-key="page-spinner"></span>
    <div id="coding">
        <div class="box" id="list-view">
            <span us-spinner="Style.spinnerOptions" spinner-key="list-view-spinner"></span>
            <h2>List</h2>

            <mini-list-view
                    height="800"
                    messages="allMessages"
                    selected-message="selectedMessage"
                    sort-messages="sortMessages(args)"
                    select-message="viewMessageDetail(args)">
            </mini-list-view>
        </div>
        <div class="box" id="labeling-view">
            <span us-spinner="Style.spinnerOptions" spinner-key="labeling-view-spinner"></span>
            <h2>Coding</h2>
            <div ng-show="!selectedMessageDetail">
                Select an item to label.
            </div>
            <div ng-show="selectedMessageDetail">
                <div class="message-item">
                    <div class="btn btn-image"
                         ng-show="selectedMessageDetail.mediaUrl && selectedMessageDetail.mediaUrl.length > 0"
                         data-toggle="modal" data-target="#image-modal"
                         ng-click="openMedia(selectedMessageDetail.mediaUrl)">
                        <img class="img-responsive center-block" ng-src="{$ selectedMessageDetail.mediaUrl $}">
                    </div>

                    <div class="message-text">
                    <span ng-repeat="char in selectedMessageDetail.characters track by $index"
                          ng-style="Style.charStyle(selectedMessageDetail, $index)">{$ char $}</span>
                    </div>
                </div>

                <div class="message-label-submit">

                    <div class="btn btn-default" ng-repeat="(codeId, codeDefinition) in codeDefinitions"
                         ng-click="selectCode(codeDefinition)"
                         ng-class="{'active': codeDefinition == selectedCodeDefinition}"
                         ng-style="Style.buttonStyle(codeDefinition.codeId, selectedCodeDefinition.codeId)">
                        <div class="code-name">{$ codeDefinition.name $}</div>
                    </div>

                    <div class="message-toggle-item">
                        <div class='btn btn-toggle' ng-class="{'active': selectedMessageDetail.isSaved}"
                             ng-click="selectedMessageDetail.isSaved=!selectedMessageDetail.isSaved"
                             data-toggle="tooltip" title="Save this item"><span class="glyphicon glyphicon-tag"></span>
                        </div>
                        <span> Save this item</span>
                    </div>

                    <div class="message-toggle-item">
                        <div class='btn btn-toggle' ng-class="{'active': selectedMessageDetail.isExample}"
                             ng-click="selectedMessageDetail.isExample=!selectedMessageDetail.isExample"
                             data-toggle="tooltip" title="Save as an example"><span
                                class="glyphicon glyphicon-star"></span>
                        </div>
                        <span> Save as an example item</span>
                    </div>

                    <div class="message-toggle-item">
                        <div class='btn btn-toggle' ng-class="{'active': selectedMessageDetail.isAmbiguous}"
                             ng-click="selectedMessageDetail.isAmbiguous=!selectedMessageDetail.isAmbiguous"
                             data-toggle="tooltip" title="Mark as ambiguous"><span>?</span></div>
                        <span> Mark as an ambiguous item</span>
                    </div>
                    <button class="btn btn-default" ng-disabled="!selectedCodeDefinition" ng-click="submitLabel()">
                        Submit Code
                    </button>

                    <textarea class="message-comment"
                              ng-model="selectedMessageComment"
                              placeholder="Enter any comments you may have for this item."></textarea>
                    <div ng-show="enableCommentSave()">
                        <button class="btn btn-primary" ng-mousedown="saveMessageComment()">Save</button>
                        <button class="btn btn-default" ng-mousedown="resetMessageComment()">Reset</button>
                    </div>

                    <div ng-repeat="comment in selectedMessageComments">
                        <p>{$ comment.text $}</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="code-detail-view">
            <span us-spinner="Style.spinnerOptions" spinner-key="code-detail-view-spinner"></span>
            <div class="box" ng-show="!selectedCodeDefinition">
                <h2>Code Detail</h2>
                <div>Select a message and a code to view details</div>
            </div>
            <div class="box" ng-show="selectedCodeDefinition"
                 ng-style="Style.definitionStyle(selectedCodeDefinition.codeId)">
                <div class="box-section">
                    <definitions
                            master-definition="selectedCodeDefinition.masterDescription.text"
                            my-definition="selectedCodeDefinition.userDescription.text"
                            partner-definition="selectedCodeDefinition.partnerDescription.text"
                            code-name="selectedCodeDefinition.name"></definitions>
                </div>
                <div class="box-section">
                    <keywords
                            system-keywords="selectedCodeKeywords.systemKeywords"
                            my-keywords="selectedCodeKeywords.myKeywords"
                            partner-keywords="selectedCodeKeywords.partnerKeywords"
                            code-definitions="codeDefinitions"
                            code-name="selectedCodeDefinition.name"></keywords>
                </div>
            </div>
        </div>

        <div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title">Embedded image</h2>
                    </div>
                    <div class="modal-body">
                        <img class="img-responsive center-block" ng-src="{$ selectedMediaUrl $}">
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <modal show-modal="showSaveComment" ng-model="showSaveComment" class="modal fade"
               tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 class="modal-title">Save comments?</h2>
                    </div>
                    <div class="modal-body">
                        Do you want to save your comments for this item?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="resetMessageComment()"
                                data-dismiss="modal">Discard
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="saveMessageComment()">Save
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </modal>
    </div>
</div>