<div class="ng-cloak" ng-cloak ng-controller="Aeonium.controllers.ExportController">
    <span us-spinner="spinnerOptions" spinner-key="page-spinner"></span>

    <div id="exporting">
        <div class="box box-top" id="top-area">
            <h2><span class="stage">Export</span></h2>
            <div id="progress-area">
                <div class="" id="phases">
                    <div class="col-md-3 scroll-y">
                            <h3>Data Selection</h3>
                            <p>Specify properties of data to export.</p>
                    </div>
                    <div class="col-md-1"><img class="arrow-img" ng-src="/static/images/arrow-left-right.png"/></div>
                    <div class="col-md-3 scroll-y">
                            <h3>Format Selection</h3>
                            <p>Select data format for export.</p>
                    </div>
                    <div class="col-md-1"><img class="arrow-img" ng-src="/static/images/arrow-left-right.png"/></div>
                    <div class="col-md-3 scroll-y">
                            <h3>Finish Export</h3>
                            <p>Export and download selection.</p>
                    </div>
                </div>

                
        </div>
    </div>


<!--     <modal show-modal="featureConflict" ng-model="featureConflict" class="modal fade" id="feature-modal" tabindex="-1"
           role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h2 ng-if="featureConflict.existingFeatureText" class="modal-title">Replace '{$
                        featureConflict.existingFeatureText.feature_text $}'?</h2>
                    <h2 ng-if="featureConflict.existingMessageFeature" class="modal-title">Replace Keywords?</h2>
                </div>
                <div class="modal-body">
                    <p ng-if="featureConflict.existingFeatureText">
                        The keywords <strong>'{$ featureConflict.existingFeatureText.feature_text $}'</strong> you wish
                        to add already exist. Would you like to replace the existing ones with the new ones?</p>
                    <p ng-if="featureConflict.existingMessageFeature">
                        You have already added keywords <strong>'{$ featureConflict.existingMessageFeature.feature_text
                        $}'</strong> from the same tweet.
                        Would you like to replace it with <strong>'{$ featureConflict.feature_text $}'</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="replaceFeature(featureConflict)">Replace
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </modal>
    <modal show-modal="ask_if_save_definition" ng-model="ask_if_save_definition" class="modal fade" id="def-save-modal"
           tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">Save the new definition?</h2>
                </div>
                <div class="modal-body">
                    Do you want to save your changes for the definiton of {$ selectedCode.code_text $}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="handleDefinitionChanges(false)"
                            data-dismiss="modal">Discard
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="handleDefinitionChanges(true)">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </modal>
    <modal show-modal="ask_if_change_code" ng-model="ask_if_change_code" class="modal fade" id="change-code-modal"
           tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">Replacing the code?</h2>
                </div>
                <div class="modal-body">
                    <p>Do you want to change your code <strong>{$ message_for_change.user_code.text $}</strong> of the
                        following tweet into your partner's code <strong>{$ message_for_change.partner_code.text
                            $}</strong>?</p>
                    <p>
                        {$ message_for_change.message.text $}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ignore</button>
                    <button type="button" class="btn btn-primary" ng-click="changeCode()">Change</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </modal> -->

</div>