<div class="ng-cloak" ng-cloak ng-controller="Aeonium.controllers.ExportController">
    <span us-spinner="spinnerOptions" spinner-key="page-spinner"></span>

    <div id="exporting">
        <div class="box box-top box-light" id="top-area">
            <h2><span class="stage">Export</span></h2>
            <div class="" id="phases">
                <div class="col-md-3 scroll-y">
                        <h3>Data Selection</h3>
                        <p>Specify properties of data to export.</p>
                </div>
                <div class="col-md-1"><img class="arrow-img" ng-src="/static/images/arrow-left-right.png"/></div>
                <div class="col-md-3 scroll-y">
                        <h3>Format Selection</h3>
                        <p>Select data format for export.</p>
                </div>
                <div class="col-md-1"><img class="arrow-img" ng-src="/static/images/arrow-left-right.png"/></div>
                <div class="col-md-3 scroll-y">
                        <h3>Finish Export</h3>
                        <p>Export and download selection.</p>
                </div>
            </div>    
        </div>

        <div class="box box-top box-bottom box-light" id="bottom-area">
            <div id="selections">
                <div class="col-md-2"></div> <!-- for spacing -->
                <div class="col-md-3 box scroll-y" id="data-properties">
                    <h3>Data Properties:</h3>
                    <span ng-repeat="property in dataProperties"><input type="checkbox" checklist-model="selections.dataProperties" checklist-value="property" /> {$ property.name $} <br/></span>
                </div>
                <div class="col-md-1"></div> <!-- for spacing -->
                <div class="col-md-3 box scroll-y" id="coder-data"> <!-- not sure how we're referencing coders; testing with codes for now -->
                    <h3>Coder Data:</h3>
                    <span ng-repeat="code in codes"><input type="checkbox" checklist-model="selections.codes" checklist-value="code" /> {$ code.code_text $} <br/></span>
                </div>
            </div>
            <div id="bottom-buttons">
                <div class="col-md-5"></div> <!-- for spacing -->
                <div class="col-md-2">
                    <button class="btn-small btn-default" ng-mousedown="saveSelections(false)">Cancel
                    </button>
                    <button class="btn-small btn-primary" ng-mousedown="saveSelections(true)">Save
                    </button>
                </div>
                <div class="col-md-4"></div> <!-- for spacing -->
            </div>
        </div>
    </div>
</div>