{% extends '_layouts/base.html' %}
{% load staticfiles djangular_tags %}

{% block page_title %}TweetCoderViz{% endblock %}

{% block meta %}
<meta name="twitter:widgets:csp" content="on">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'theme.less' %}" type="text/less">
<link rel="stylesheet" href="{% static 'style.less' %}" type="text/less">
<link rel="stylesheet" href="{% static 'bower/c3/c3.css' %}">
<link rel="stylesheet" href="{% static 'tweet_coder_viz.less' %}" type="text/less">

{% endblock %}

{% block js %}
{{ block.super }}

<script src="{% static 'bower/angular/angular.js' %}"></script>
<script src="{% static 'bower/angular-cookies/angular-cookies.js' %}"></script>
<script src="{% static 'bower/angular-route/angular-route.js' %}"></script>
<script src="{% static 'bower/angular-resource/angular-resource.js' %}"></script>
<script src="{% static 'bower/angular-animate/angular-animate.js' %}"></script>
<script src="{% static 'bower/angular-sanitize/angular-sanitize.js' %}"></script>
<script src="{% static 'bower/angucomplete-alt/angucomplete-alt.js' %}"></script>
<script src="{% static 'bower/angular-smart-table/dist/smart-table.js' %}"></script>

<script src="{% static 'bower/jquery-ui/ui/core.js' %}"></script>
<script src="{% static 'bower/jquery-ui/ui/widget.js' %}"></script>
<script src="{% static 'bower/jquery-ui/ui/mouse.js' %}"></script>
<script src="{% static 'bower/jquery-ui/ui/draggable.js' %}"></script>
<script src="{% static 'bower/jquery-ui/ui/droppable.js' %}"></script>
<script src="{% static 'bower/angular-dragdrop/src/angular-dragdrop.js' %}"></script>

<script src="{% static 'djangular/js/django-angular.js' %}"></script>

<script src="{% static 'bower/spin.js/spin.js' %}"></script>
<script src="{% static 'bower/angular-spinner/angular-spinner.js' %}"></script>
    
<script src="{% static 'bower/moment/moment.js' %}"></script>
<script src="{% static 'bower/d3/d3.js' %}"></script>
<script src="{% static 'bower/c3/c3.js' %}"></script>

<script src="{% static 'tweet_coder_viz/app.js' %}"></script>
<script src="{% static 'tweet_coder_viz/services.js' %}"></script>
<script src="{% static 'tweet_coder_viz/controllers.js' %}"></script>


{% endblock %}

{% block navigation_bar %}
{% endblock %}

{% block bootstrapping %}
{{ block.super }}
<script>
    angular.module('ng.django.urls')
        .constant('patterns', {% load_djng_urls %});

    angular.module('TweetCoderViz.bootstrap')
        .constant('TweetCoderViz.bootstrap.experiment', {{ object.pk }})
        .constant('TweetCoderViz.bootstrap.dictionary', {{ object.dictionary.pk }});
</script>

{% endblock %}

{% block content %}

<div ng-app="TweetCoderViz" id="application" class="container-fluid"  ng-controller="TweetCoderViz.controllers.DictionaryController">
    <div id="titleWrap" class="row clearfix"  ng-cloak="">

         <div class="logo-titles">
             <span class="title">Tweet Coder</span>
             <span class="description">Tweet labeling interface with visualization</span>
             <span class="dataset">{$ Dictionary.dataset.description $} ({$ Dictionary.dataset.message_count $} messages)</span>
         </div>

    </div>
    <div id="content" class="ng-cloak" ng-cloak ng-controller="TweetCoderViz.controllers.ViewController" >
        <span us-spinner="spinnerOptions" spinner-key="page-spinner"></span>
        <div id="initialization" ng-show="!(is_status('C') || is_status('R') || is_status('F'))">
            <div class="stage-prompt">Waiting for the other participant... (Wait for a while and then refresh)<br />
            Current status: {$ stage_desc[Progress.current_status] $}
            <br />
            <button class="btn btn-success next-step" ng-click="next_step()">Try to go to the next stage</button>
            </div>
        </div>
        <div id="finished" ng-show="is_status('F')">
            <div class="stage-prompt">
                This is the end of the study. <br />
                Please find the moderator for the follow-up interview. <br />
                Thank you very much for your participation!!!
            </div>
        </div>

        <div id="statusText" ng-show="(is_status('C') || is_status('R')) && statusText">
            <div class="stage-prompt">{$ statusText $}</div>
        </div>

        <div id="coding" ng-if="is_status('C') && !statusText">
            <div class="box box-top">
                <div id="top-area">
                    <h2><span class="stage"> Stage {$ Progress.current_stage_index + 1 $}</span> | Coding</h2>
                    <div class="" id="labeling">
                        <span us-spinner="spinnerOptions" spinner-key="label-spinner"></span>
                        <div class="col-md-9 tweet-item">
                            <div class="btn btn-image" ng-show="currentMessage.message.media_url && currentMessage.message.media_url.length > 0"
                                 data-toggle="modal" data-target="#image-modal"
                                 ng-click="selectMedia(currentMessage.message.media_url)">
                                <img class="img-responsive center-block" ng-src="{$ currentMessage.message.media_url $}">
                            </div>

                            <div class="tweet-text">
                                <span ng-repeat="char in currentMessage.characters track by $index"
                                   ng-style="charStyle(currentMessage, $index)">{$ char $}</span>
                            </div>
                        </div>
                        <div class="col-md-3 tweet-submit">
                            <div class="tweet-submit-item">
                                <div class='btn btn-toggle' ng-class="{'active': currentMessage.is_saved}"
                                     ng-click="currentMessage.is_saved=!currentMessage.is_saved"
                                     data-toggle="tooltip" title="Save this tweet"><span class="glyphicon glyphicon-tag"></span></div>
                                <span> Save this tweet</span>
                            </div>

                            <div class="tweet-submit-item">
                                <div class='btn btn-toggle' ng-class="{'active': currentMessage.is_example}"
                                     ng-click="currentMessage.is_example=!currentMessage.is_example"
                                     data-toggle="tooltip" title="Save as an example"><span class="glyphicon glyphicon-star"></span></div>
                                <span> Save as an example tweet</span>
                            </div>

                            <div class="tweet-submit-item">
                                <div class='btn btn-toggle' ng-class="{'active': currentMessage.is_ambiguous}"
                                     ng-click="currentMessage.is_ambiguous=!currentMessage.is_ambiguous"
                                     data-toggle="tooltip" title="Mark as ambiguous"><span>?</span></div>
                                <span> Mark as an ambiguous tweet</span>
                            </div>
                            <button class="btn btn-default" ng-disabled="!selectedCode" ng-click="submitLabel()">Submit Code</button>
                        </div>
                    </div>
                    <div class="" id="codes" data-toggle="buttons">
                        <span us-spinner="spinnerOptions" spinner-key="code-spinner"></span>
                        <div class="btn btn-default" ng-repeat="code in codes"
                                   ng-click="selectLabel(code)"
                                   ng-class="{'active': code == selectedCode}"
                                   ng-style="buttonStyle(code)">
                            <div class="code-name">{$ code.code_text $}</div>
                            <div class="code-definition scroll-y">
                                <p><strong>definition: </strong>{$ code.text $}</p>
                                <p><strong>example: </strong>{$ code.examples[0].text $}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="bottom-area">
                    <span us-spinner="spinnerOptions" spinner-key="code-detail-spinner"></span>
                    <div class="row" id="panel" ng-repeat="code in codes" ng-style="definitionStyle(code)"
                         ng-show="code.code_text == selectedCode.code_text">
                        <div class="col-md-3 scroll-y">
                            <div class="box box-light box-right">
                                <h2>Review <span>{$ code.code_text $}</span></h2>
                                <h3>Master Definition</h3>
                                <p>{$ code.text $}</p>
                                <h3>Master Example</h3>
                                <p>{$ code.examples[0].text $}</p>
                                <h3>My Definition</h3>
                                <p ng-show="Code.definitions_by_code[code.code_text]['user']">{$ Code.definitions_by_code[code.code_text]["user"] $}</p>
                                <p ng-hide="Code.definitions_by_code[code.code_text]['user']" class="help-text">You have not provided a definition yet.</p>
                                <h3>My Examples</h3>
                                <p ng-show="coded_messages!=undefined && (coded_messages['user'][code.code_text] | filter:filterTweets('Example')).length==0"
                                   class="help-text">You have not saved any tweets as exemplar of '<span>{$ code.code_text $}</span>'.</p>
                                <div ng-repeat="item in coded_messages['user'][code.code_text] | filter:filterTweets('Example')"
                                     class="label-item" ng-style="{ 'border-color': codeColor(code) }">
                                    <div class="content">
                                        <div class="item-message" ng-bind-html="item.message.embedded_html"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 scroll-y">
                            <div class="box box-light">
                                <h2>Keyword distribution for <span>{$ code.code_text $}</span></h2>
                                <h3>My keywords</h3>
                                <p ng-hide="(featureList.user | filter:filterFeatures(code)).length > 0" class="help-text">You have not provided any keywords from tweets labeled as '<span>{$ code.code_text$}</span>'. You can do so in the review stage.</p>
                                <div class="features" ng-repeat="feature in featureList.user | filter:filterFeatures(code) track by $index" id="user-features"
                                    ng-click="searchFeature(feature)" ng-style="myKeywordStyle(feature)">
                                    <!--
                                    <button class="btn btn-default" ng-click="$event.preventDefault(); $event.stopPropagation(); removeFeature(feature)" data-toggle="tooltip" title="Remove this keyword"><span class="glyphicon glyphicon-remove-circle"></span></button>
                                    -->
                                    <span class="feature-text"
                                     popover data-toggle="popover" data-trigger="hover" data-html="true"
                                     ng-attr-data-content="Keywords added from a tweet coded as '{$ code_map[feature.origin_code_id].code_text $}'"
                                     data-placement="auto top">{$ feature.feature_text $}</span>
                                    <div ng-show="feature.total_count > 0" class="feature-distribution">
                                        <div ng-repeat="(code, count) in feature.normalized_distribution" ng-style="distributionStyle(code, count)"
                                             popover data-toggle="popover" data-trigger="hover" data-html="true"
                                             ng-attr-data-content="{$ feature.distribution[code] + ' tweet' + (feature.distribution[code] > 1 ? 's' : '') + ' for ' + code $}"
                                             data-placement="auto top"></div>
                                    </div>
                                    <div ng-show="feature.total_count == 0" class="feature-distribution feature-empty"></div>
                                    <span class="feature-total">{$ feature.total_count $}</span>
                                </div>
                                <h3>System keywords</h3>
                                <p ng-hide="(featureList.system | filter:filterFeatures(code)).length > 0" class="help-text">There are no system keywords from tweets labeled as '<span>{$ code.code_text$}</span>'.</p>
                                <div class="features" ng-repeat="feature in featureList.system | filter:filterFeatures(code) track by $index" id="system-features"
                                    ng-click="searchFeature(feature)">
                                    <span class="feature-text">{$ feature.feature_text $}</span>
                                    <div ng-show="feature.total_count > 0" class="feature-distribution">
                                        <div ng-repeat="(code, count) in feature.normalized_distribution" ng-style="distributionStyle(code, count)"
                                             popover data-toggle="popover" data-trigger="hover" data-html="true"
                                             ng-attr-data-content="{$ feature.distribution[code] + ' tweet' + (feature.distribution[code] > 1 ? 's' : '') + ' for ' + code $}"
                                             data-placement="auto top"></div>
                                    </div>
                                    <div ng-show="feature.total_count == 0" class="feature-distribution feature-empty"></div>
                                    <span class="feature-total">{$ feature.total_count $}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 scroll-y">
                            <div class="box box-light box-left">
                                <h2>My Tweets labeled as <span>{$ code.code_text $}</span></h2>

                                <div id="search">
                                    <div class="search-label">Show: </div>
                                    <div class="dropdown item-filter">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="filterMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span>{$ selectedFilter $}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="filterMenu">
                                            <li><a ng-click="selectFilter('All')">All</a></li>
                                            <li><a ng-click="selectFilter('Example')">Example</a></li>
                                            <li><a ng-click="selectFilter('Saved')">Saved</a></li>
                                            <li><a ng-click="selectFilter('Ambiguous')">Ambiguous</a></li>
                                        </ul>
                                    </div>
                                    <div class="search-label">Search: </div><input ng-if="!search.feature" ng-model="search.text" placeholder="Type in search keywords">
                                    <div class="search-feature" ng-if="search.feature" ng-style="{ 'border-color': pillColor(search.feature.origin_code_id) }">{$ search.feature.feature_text $}
                                        <button class="btn btn-default" ng-click="removeSearchFeature()"
                                                data-toggle="tooltip" title="Remove this keyword from search">
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </button>
                                    </div>
                                </div>
                                <div ng-repeat="item in coded_messages['user'][code.code_text] | filter:filterTweetsFlag()"
                                     class="label-item" ng-style="{ 'border-color': codeColor(code) }"
                                     ng-mouseover="onItemHover(item)" ng-mouseleave="onItemLeave(item)">

                                    <div class="content">
                                        <div ng-show="hoveredItem==item">
                                            <div>
                                                <div class='btn btn-toggle' ng-class="{'active': item.is_saved}"
                                                     ng-click="updateItem(item, !item.is_saved, item.is_example, item.is_ambiguous)"
                                                     data-toggle="tooltip" title="Save this tweet"><span class="glyphicon glyphicon-tag"></span></div>
                                                <div class='btn btn-toggle' ng-class="{'active': item.is_example}"
                                                     ng-click="updateItem(item, item.is_saved, !item.is_example, item.is_ambiguous)"
                                                     data-toggle="tooltip" title="Save as an example"><span class="glyphicon glyphicon-star"></span></div>
                                                <div class='btn btn-toggle' ng-class="{'active': item.is_ambiguous}"
                                                     ng-click="updateItem(item, item.is_saved, item.is_example, !item.is_ambiguous)"
                                                     data-toggle="tooltip" title="Mark as ambiguous"><span>?</span></div>
                                            </div>
                                            <div ng-bind-html="item.message.embedded_html"></div>
                                            <div class="source-stage" ng-show="hoveredItem==item">
                                                <span class="stage">from stage {$ item.source_stage_index + 1 $}</span>
                                            </div>
                                        </div>
                                        <div class="item-message" ng-hide="hoveredItem==item" ng-bind-html="item.message.embedded_html"></div>

                                    </div>
                                </div>

                                <p ng-show="coded_messages!=undefined && (coded_messages['user'][code.code_text] | filter:filterTweetsFlag()).length==0" class="help-text">No tweets were found.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="reviewing" ng-if="is_status('R') && !statusText">
            <button class="btn btn-success next-step" ng-click="next_step()">Finish review</button>
            <div class="box box-top" id="top-area">
                <h2><span class="stage"> Stage {$ Progress.current_stage_index + 1 $}</span> | Review</h2>
                <div class="" data-toggle="buttons" id="codes">
                    <span us-spinner="spinnerOptions" spinner-key="code-spinner"></span>
                    <div class="btn btn-default" ng-repeat="code in codes"
                               ng-click="selectLabel(code)"
                               ng-class="{'active': code==selectedCode}"
                               ng-style="buttonStyle(code)">
                        <div class="code-name">{$ code.code_text $}</div>
                    </div>
                </div>
                <div id="tab-area" ng-style="definitionStyle(selectedCode)" >
                    <div class="" id="definitions">
                        <span us-spinner="spinnerOptions" spinner-key="code-detail-spinner"></span>
                        <div class="col-md-4 scroll-y">
                            <div class="box box-light box-right box-full">
                                <h3>Master Definition</h3>
                                <p class="code-definition">{$ Code.definitions_by_code[selectedCode.code_text]["master"] $}</p>
                            </div>
                        </div>
                        <div class="col-md-4 scroll-y">
                            <div class="box box-light box-full">
                                <h3>Partner Definition</h3>
                                <p ng-show="hasDefinition(selectedCode, 'partner')" class="code-definition">{$ Code.definitions_by_code[selectedCode.code_text]["partner"] $}</p>
                                <p ng-hide="hasDefinition(selectedCode, 'partner')" class="code-definition help-text">Your partner has not provided a definition yet.</p>
                            </div>
                        </div>
                        <div class="col-md-4 scroll-y">
                            <div class="box box-light box-left box-full">
                                <h3>My Definition<span class='change-mark' ng-show="is_different()">*</span></h3>
                                <textarea id="code-definition"
                                          class="code-definition" ng-model="Code.definitions_by_code[selectedCode.code_text]['user']"
                                          ng-focus="startEditing()"
                                          ng-blur="finishEditing()"
                                          ng-style="{ 'border-color': codeColor(selectedCode) }"
                                          placeholder="Please provide your own definition if necessary."></textarea>
                                <div ng-show="is_different()">
                                    <button class="btn btn-primary" ng-mousedown="handleDefinitionChanges(true)"
                                            ng-style="{ 'background': codeColor(selectedCode) }">Save</button>
                                    <button class="btn btn-default" ng-mousedown="handleDefinitionChanges(false)">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="bottom-area">
                        <div class="col-md-4 scroll-y">
                            <span us-spinner="spinnerOptions" spinner-key="feature-spinner"></span>

                            <div class="box box-right box-bottom box-light">
                                <h2>Code distribution</h2>
                                <div id="code-distribution">
                                    <div class="distribution-chart">
                                        <div ng-repeat="(code, percentage) in normalized_code_distribution" ng-style="distributionStyle(code, percentage)"
                                             popover data-toggle="popover" data-trigger="hover" data-html="true"
                                             ng-attr-data-content="{$ code_distribution[code] + ' tweet' + (code_distribution[code] > 1 ? 's' : '') + ' for ' + code $}"
                                             data-placement="auto top"></div>
                                    </div>
                                    <div class="distribution-total">{$ allItems.length $}</div>
                                </div>
                            </div>
                            <div class="box box-right box-light">
                                <h2>Keyword distribution</h2>
                                <h3>My keywords</h3>
                                <p ng-hide="(featureList.user | filter:filterFeatures(selectedCode)).length > 0" class="help-text">Please select keywords from your tweets.</p>
                                <div class="features" ng-repeat="feature in featureList.user | filter:filterFeatures(selectedCode) track by $index" id="user-features"
                                    ng-click="searchFeature(feature.feature_text)">
                                    <button class="btn btn-default" ng-click="removeFeature(feature, $event)"
                                     ng-click="searchFeature(feature)" ng-style="myKeywordStyle(feature)">
                                    <button class="btn btn-default" ng-click="removeFeature(feature, $event)"
                                             data-toggle="tooltip" title="Remove this keyword"
                                             ng-enabled="feature.distribution"><span class="glyphicon glyphicon-remove-circle"></span></button>
                                    <span class="feature-text user-feature"
                                     popover data-toggle="popover" data-trigger="hover" data-html="true"
                                     ng-attr-data-content="Keywords added from a tweet coded as '{$ code_map[feature.origin_code_id].code_text $}'"
                                     data-placement="auto top">{$ feature.feature_text $}</span>
                                    <div ng-show="feature.total_count > 0" class="feature-distribution">
                                        <div ng-repeat="(code, count) in feature.normalized_distribution" ng-style="distributionStyle(code, count)"
                                             popover data-toggle="popover" data-trigger="hover" data-html="true"
                                             ng-attr-data-content="{$ feature.distribution[code] + ' tweet' + (feature.distribution[code] > 1 ? 's' : '') + ' for ' + code $}"
                                             data-placement="auto top"></div>
                                    </div>
                                    <div ng-show="feature.total_count == 0" class="feature-distribution feature-empty"></div>
                                    <span class="feature-total">{$ feature.total_count == 0 ? '--' : feature.total_count $}</span>
                                </div>
                                <h3>System keywords</h3>
                                <p ng-hide="(featureList.system | filter:filterFeatures(selectedCode)).length > 0" class="help-text">No system keywords for found for '{$ selectedCode.code_text $}'.</p>
                                <div class="features" ng-repeat="feature in featureList.system | filter:filterFeatures(selectedCode) track by $index" id="system-features"
                                    ng-click="searchFeature(feature)">
                                    <span class="feature-text">{$ feature.feature_text $}</span>
                                    <div ng-show="feature.total_count > 0" class="feature-distribution">
                                        <div ng-repeat="(code, count) in feature.normalized_distribution" ng-style="distributionStyle(code, count)"
                                             popover data-toggle="popover" data-trigger="hover" data-html="true"
                                             ng-attr-data-content="{$ feature.distribution[code] + ' tweet' + (feature.distribution[code] > 1 ? 's' : '') + ' for ' + code $}"
                                             data-placement="auto top"></div>
                                    </div>
                                    <div ng-show="feature.total_count == 0" class="feature-distribution feature-empty"></div>
                                    <span class="feature-total">{$ feature.total_count $}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 scroll-y">
                            <div class="box box-light">
                                <h2>Comparison</h2>
                                <span us-spinner="spinnerOptions" spinner-key="pairwise-spinner"></span>
                                <div id="confusion" ng-class="{ selected: selectedConfusion==pair}" ng-repeat="pair in confusionPairs | filter:filterConfusionByCode()" ng-click="selectConfusion(pair)">
                                    <div class="confusion-box" ng-style="{ 'background': codeColor(code_map[pair.user_code])}">
                                        <span>{$ pair.user_code $}</span>
                                    </div>
                                    <div class="confusion-box" ng-style="{ 'background': codeColor(code_map[pair.partner_code])}">
                                        <span>{$ pair.partner_code $}</span>
                                    </div>
                                    <div class="confusion-total">{$ pair.count $}</div>
                                </div>
                                <p ng-show="confusionPairs!=undefined && (confusionPairs | filter:filterConfusionByCode()).length==0" class="help-text">No disagreements were found.</p>
                            </div>
                        </div>
                        <div class="col-md-6 scroll-y">
                            <div class="box box-left box-light" id="labels">
                                <h2>Submitted labels</h2>
                                <span us-spinner="spinnerOptions" spinner-key="submitted-label-spinner"></span>
                                <div id="search">
                                    <div>Search: </div><input ng-if="!search.feature" ng-model="search.text" placeholder="Type in search keywords">
                                    <div class="search-feature" ng-if="search.feature" ng-style="{ 'border-color': pillColor(search.feature.origin_code_id) }">{$ search.feature.feature_text $}
                                        <button class="btn btn-default" ng-click="removeSearchFeature()"
                                                data-toggle="tooltip" title="Remove this keyword from search">
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </button>
                                    </div>
                                </div>
                                <div ng-repeat="item in allItems | filter:filterTweetsByConfusionAndCode()" class="label-item"
                                     ng-style="{ 'border-color': codeColor(code_map[item.user_code.text]) }"
                                     ng-mouseover="onItemHover(item)" ng-mouseleave="onItemLeave(item)"
                                     ng-class="{ hovered: hoveredItem==item }">
                                    <div class="confusion">
                                        <div class="confusion-box" ng-style="{ 'background': codeColor(code_map[item.user_code.text])}"></div>
                                        <div class="confusion-box" ng-style="{ 'background': codeColor(code_map[item.partner_code.text])}"></div>
                                    </div>

                                    <div class="content">
                                        <div ng-show="hoveredItem==item">
                                        <div>
                                            <div class='btn btn-toggle' ng-class="{'active': item.is_saved}"
                                                 ng-click="updateItem(item, !item.is_saved, item.is_example, item.is_ambiguous)"
                                                             data-toggle="tooltip" title="Save this tweet"><span class="glyphicon glyphicon-tag"></span></div>
                                            <div class='btn btn-toggle' ng-class="{'active': item.is_example}"
                                                 ng-click="updateItem(item, item.is_saved, !item.is_example, item.is_ambiguous)"
                                                             data-toggle="tooltip" title="Save as an example"><span class="glyphicon glyphicon-star"></span></div>
                                            <div class='btn btn-toggle' ng-class="{'active': item.is_ambiguous}"
                                                 ng-click="updateItem(item, item.is_saved, item.is_example, !item.is_ambiguous)"
                                                             data-toggle="tooltip" title="Mark as ambiguous"><span>?</span></div>
                                            <div class="inline" ng-show="showIndicator(item)">
                                                <label for="indicator">Disagreement indicator: </label>
                                                <div class="dropdown">
                                                    <button class="btn btn-default dropdown-toggle" type="button" id="verdictMenu"
                                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <span>{$ indicator_mapping[item.disagreement_indicator] $}</span>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="verdictMenu">
                                                        <li ng-repeat="indicator in indicators">
                                                            <a ng-click="updateIndicator(item, indicator)">{$ indicator_mapping[indicator] $}</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item-message item-selectable"><span ng-repeat="char in item.characters track by $index" class="ng-class:'char-'+$index;"
                                               ng-mouseenter="onCharMouseEnter(item, $index)"
                                               ng-mouseleave="onCharMouseLeave(item, $index)"
                                               ng-mousedown="onCharMouseDown(item, $index, $event)"
                                               ng-mouseup="onCharMouseUp(item, $index, $event)"
                                               ng-style="charStyle(item, $index)">{$ char $}</span>
                                        </div>
                                        <button class="btn btn-default" ng-click="addFeature(item)">Add Keywords</button>
                                    </div>
                                        <div class="item-message" ng-hide="hoveredItem==item" ng-bind-html="item.message.embedded_html"></div>
                                        <div class="source-stage" ng-show="hoveredItem==item">
                                            <span class="stage">from stage {$ item.source_stage_index + 1 $}</span>
                                        </div>
                                    </div>
                                </div>
                                <p ng-show="allItems!=undefined && (allItems | filter:filterTweetsByConfusionAndCode()).length==0" class="help-text">No tweets were found.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title">Embedded image</h2>
                    </div>
                    <div class="modal-body">
                        <img class="img-responsive center-block" ng-src="{$ selectedMedia $}">
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <modal show-modal="featureConflict" ng-model="featureConflict" class="modal fade" id="feature-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2 ng-if="featureConflict.existingFeatureText" class="modal-title">Replace '{$ featureConflict.existingFeatureText.feature_text $}'?</h2>
                        <h2 ng-if="featureConflict.existingMessageFeature" class="modal-title">Replace Keywords?</h2>
                    </div>
                    <div class="modal-body">
                        <p ng-if="featureConflict.existingFeatureText">
                            The keywords <strong>'{$ featureConflict.existingFeatureText.feature_text $}'</strong> you wish to add already exist. Would you like to replace the existing ones with the new ones?</p>
                        <p ng-if="featureConflict.existingMessageFeature">
                            You have already added keywords <strong>'{$ featureConflict.existingMessageFeature.feature_text $}'</strong> from the same tweet.
                            Would you like to replace it with <strong>'{$ featureConflict.feature_text $}'</strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="replaceFeature(featureConflict)">Replace</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </modal>
        <modal show-modal="ask_if_save_definition" ng-model="ask_if_save_definition" class="modal fade" id="def-save-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 class="modal-title">Save the new definition?</h2>
                    </div>
                    <div class="modal-body">
                        Do you want to save your changes for the definiton of {$ selectedCode.code_text $}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="handleDefinitionChanges(false)" data-dismiss="modal">Discard</button>
                        <button type="button" class="btn btn-primary" ng-click="handleDefinitionChanges(true)">Save</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </modal>
        <modal show-modal="ask_if_change_code" ng-model="ask_if_change_code" class="modal fade" id="change-code-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 class="modal-title">Replacing the code?</h2>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to change your code <strong>{$ message_for_change.user_code.text $}</strong> of the
                        following tweet into your partner's code <strong>{$ message_for_change.partner_code.text $}</strong>?</p>
                        <p>
                            {$ message_for_change.message.text $}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ignore</button>
                        <button type="button" class="btn btn-primary" ng-click="changeCode()">Change</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </modal>
    </div>

</div>
{% endblock %}
{% block footer %}
{% endblock %}
