{% extends '_layouts/base.html' %}
{% load staticfiles djangular_tags %}

{% block page_title %}TweetCoderViz{% endblock %}

{% block meta %}
<meta name="twitter:widgets:csp" content="on">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'theme.less' %}" type="text/less">
<link rel="stylesheet" href="{% static 'style.less' %}" type="text/less">
<link rel="stylesheet" href="{% static 'bower/c3/c3.css' %}">
<link rel="stylesheet" href="{% static 'tweet_coder_viz.less' %}" type="text/less">

{% endblock %}

{% block js %}
{{ block.super }}

<script src="{% static 'bower/angular/angular.js' %}"></script>
<script src="{% static 'bower/angular-cookies/angular-cookies.js' %}"></script>
<script src="{% static 'bower/angular-route/angular-route.js' %}"></script>
<script src="{% static 'bower/angular-resource/angular-resource.js' %}"></script>
<script src="{% static 'bower/angular-animate/angular-animate.js' %}"></script>
<script src="{% static 'bower/angular-sanitize/angular-sanitize.js' %}"></script>
<script src="{% static 'bower/angucomplete-alt/angucomplete-alt.js' %}"></script>
<script src="{% static 'bower/angular-smart-table/dist/smart-table.js' %}"></script>

<script src="{% static 'bower/jquery-ui/ui/core.js' %}"></script>
<script src="{% static 'bower/jquery-ui/ui/widget.js' %}"></script>
<script src="{% static 'bower/jquery-ui/ui/mouse.js' %}"></script>
<script src="{% static 'bower/jquery-ui/ui/draggable.js' %}"></script>
<script src="{% static 'bower/jquery-ui/ui/droppable.js' %}"></script>
<script src="{% static 'bower/angular-dragdrop/src/angular-dragdrop.js' %}"></script>

<script src="{% static 'djangular/js/django-angular.js' %}"></script>

<script src="{% static 'bower/spin.js/spin.js' %}"></script>
<script src="{% static 'bower/angular-spinner/angular-spinner.js' %}"></script>
    
<script src="{% static 'bower/moment/moment.js' %}"></script>
<script src="{% static 'bower/d3/d3.js' %}"></script>
<script src="{% static 'bower/c3/c3.js' %}"></script>

<script src="{% static 'tweet_coder_viz/app.js' %}"></script>
<script src="{% static 'tweet_coder_viz/services.js' %}"></script>
<script src="{% static 'tweet_coder_viz/controllers.js' %}"></script>


{% endblock %}

{% block navigation_bar %}
{% endblock %}

{% block bootstrapping %}
{{ block.super }}
<script>
    angular.module('ng.django.urls')
        .constant('patterns', {% load_djng_urls %});

    angular.module('TweetCoderViz.bootstrap')
        .constant('TweetCoderViz.bootstrap.experiment', {{ object.pk }})
        .constant('TweetCoderViz.bootstrap.dictionary', {{ object.dictionary.pk }});
</script>

{% endblock %}

{% block content %}

<div ng-app="TweetCoderViz" id="application" class="container-fluid"  ng-controller="TweetCoderViz.controllers.DictionaryController">
    <div id="titleWrap" class="row clearfix"  ng-cloak="">

         <div class="logo-titles">
             <span class="title">Tweet Coder</span>
             <span class="description">Tweet labeling interface with visualization</span>
             <span class="dataset">{$ Dictionary.dataset.description $} ({$ Dictionary.dataset.message_count $} messages)</span>
         </div>

    </div>
    <div id="content" class="ng-cloak" ng-cloak  ng-controller="TweetCoderViz.controllers.ViewController" >
        <span us-spinner="spinnerOptions" spinner-key="page-spinner"></span>
        <div id="Initialization" ng-show="!(is_status('C') || is_status('R'))">
            Waiting for the other participant... (Wait for a while and then refresh)
            <button class="btn btn-success next-step" ng-click="next_step()">Try to go to the next stage</button>
        </div>

        <div id="coding" ng-show="is_status('C')">
            <div id="top-area">
                <h2>New Label</h2>
                <div class="row" id="labeling">
                    <span us-spinner="spinnerOptions" spinner-key="label-spinner"></span>
                    <div class="col-md-9 tweet-main">
                            <span ng-repeat="char in currentMessage.characters track by $index"
                               ng-style="char.style">{$char.char$}</span>
                    </div>
                    <div class="col-md-3 tweet-submit">
                        <div class="">
                            <div>
                                <div class='btn btn-toggle' ng-class="{'active': currentMessage.is_saved}" ng-click="currentMessage.is_saved=!currentMessage.is_saved"><span class="glyphicon glyphicon-tag"></span></div>
                                <span> Tag this tweet</span>
                            </div>

                            <div>
                                <div class='btn btn-toggle' ng-class="{'active': currentMessage.is_example}" ng-click="currentMessage.is_example=!currentMessage.is_example"><span class="glyphicon glyphicon-star"></span></div>
                                <span> Save as an example tweet</span>
                            </div>

                            <div>
                                <div class='btn btn-toggle' ng-class="{'active': currentMessage.is_ambiguous}" ng-click="currentMessage.is_ambiguous=!currentMessage.is_ambiguous"><span>?</span></div>
                                <span> Mark as an ambiguous tweet</span>
                            </div>
                            <button class="btn btn-default" ng-disabled="!selectedCode" ng-click="submitLabel()">Submit Code</button>
                        </div>
                    </div>
                </div>
                <div class="row" id="codes" data-toggle="buttons">
                    <span us-spinner="spinnerOptions" spinner-key="code-spinner"></span>
                    <div class="btn btn-default" ng-repeat="code in codes"
                               ng-click="selectLabel(code)"
                               ng-class="{'active': code == selectedCode}"
                               ng-style="buttonStyle(code)">
                        <div class="code-name">{$ code.code_text $}</div>
                        <div class="code-definition scroll-y">
                            <p><strong>definition: </strong>{$ code.text $}</p>
                            <p><strong>example: </strong>{$ code.examples[0].text $}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bottom-area">
                <h2 ng-show="currentMessage.label">Submitted Labels</h2>
                <span us-spinner="spinnerOptions" spinner-key="code-detail-spinner"></span>
                <div class="row" id="panel" ng-repeat="code in codes " ng-style="{ 'background-color': codeColorLight(code) }" ng-show="code.code_text == selectedCode.code_text">
                    <div class="col-md-3 scroll-y">
                        <h3>Master Definition for '{$ code.code_text $}'</h3>
                        <p>{$ Code.definitions_by_code[code.code_text]["master"].text $}</p>
                        <h3>My Definition for '{$ code.code_text  $}'</h3>
                        <p>{$ Code.definitions_by_code[code.code_text]["user"].text $}</p>
                    </div>
                    <div class="col-md-3 scroll-y">
                        <h3>My Keywords</h3>
                    </div>
                    <div class="col-md-6 scroll-y">
                        <h3>My Tweets</h3>
                        <div>
                            <span>Show: </span>
                            <div class="dropdown item-filter">
                                <button class="btn btn-default dropdown-toggle" type="button" id="filterMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {$ selectedFilter $}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="filterMenu">
                                    <li ng-click="selectFilter('All')">All</li>
                                    <li ng-click="selectFilter('Example')">Example</li>
                                    <li ng-click="selectFilter('Saved')">Saved</li>
                                    <li ng-click="selectFilter('Ambiguous')">Ambiguous</li>
                                </ul>
                            </div>
                            <label>Search: <input ng-model="searchText"></label>
                        </div>
                        <div ng-repeat="item in coded_messages['user'][code.code_text] | filter:filterTweetsFlag(selectedFilter, searchText)" class="label-item" ng-style="{ 'border-color': codeColor(code) }">
                            <div>
                                <div class='btn btn-toggle' ng-class="{'active': item.is_saved}" ng-click="item.is_saved=!item.is_saved"><span class="glyphicon glyphicon-tag"></span></div>
                                <div class='btn btn-toggle' ng-class="{'active': item.is_example}" ng-click="item.is_example=!item.is_example"><span class="glyphicon glyphicon-star"></span></div>
                                <div class='btn btn-toggle' ng-class="{'active': item.is_ambiguous}" ng-click="item.is_ambiguous=!item.is_ambiguous"><span>?</span></div>
                            </div>
                            <div>{$ item.message.text $}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="reviewing" ng-show="is_status('R')">
            <button class="btn btn-success next-step" ng-click="next_step()">Finish review</button>
            <div class="box box-top" id="top-area">
                <h2>Review Code Definitions</h2>
                <div class="" data-toggle="buttons" id="codes">
                    <span us-spinner="spinnerOptions" spinner-key="code-spinner"></span>
                    <div class="btn btn-default" ng-repeat="code in codes"
                               ng-click="selectLabel(code)"
                               ng-class="{'active': code==selectedCode}"
                               ng-style="buttonStyle(code)">
                        <div class="code-name">{$ code.code_text $}</div>
                    </div>
                </div>
                <div class="" id="definitions" ng-repeat="code in codes" ng-style="definitionStyle(code)" ng-show="code.code_id == selectedCode.code_id">
                    <span us-spinner="spinnerOptions" spinner-key="code-detail-spinner"></span>
                    <div class="col-md-4 scroll-y">
                        <h3>Master Definition</h3>
                        <p class="code-definition">{$ Code.definitions_by_code[code.code_text]["master"].text $}</p>
                    </div>
                    <div class="col-md-4 scroll-y">
                        <h3>Partner Definition</h3>
                        <p ng-show="Code.definitions_by_code[code.code_text]['partner'].text" class="code-definition">{$ Code.definitions_by_code[code.code_text]["partner"].text $}</p>
                        <p ng-hide="Code.definitions_by_code[code.code_text]['partner'].text" class="code-definition help-text">Your partner has not provided a definition yet.</p>
                    </div>
                    <div class="col-md-4 scroll-y">
                        <h3>My Definition</h3>
                        <textarea class="code-definition" ng-model="Code.definitions_by_code[code.code_text]['user'].text"
                                  ng-blur="saveDefinition(code)"
                                  ng-style="{ 'border-color': codeColor(code) }"
                                  placeholder="Please provide your own definition if necessary."></textarea>
                    </div>
                </div>
            </div>

            <div id="bottom-area">
                <div class="col-md-4 scroll-y">
                    <span us-spinner="spinnerOptions" spinner-key="feature-spinner"></span>

                    <div class="box box-right box-bottom">
                        <h2>Code distribution</h2>
                    </div>
                    <div class="box box-right">
                        <h2>Keyword distribution</h2>
                        <h3>User keywords</h3>
                        <div class="features" ng-repeat="(feature_text, feature) in featureList.user" id="user-features">
                            <button class="btn btn-default" ng-click="removeFeature(feature)"><span class="glyphicon glyphicon-remove-circle"></span></button>
                            <span class="feature-text">{$ feature_text $}</span>
                            <div ng-if="feature.total_count > 0" class="feature-distribution">
                                <div ng-repeat="(code, count) in feature.normalized_distribution" ng-style="distributionStyle(code, count)"></div>
                            </div>
                            <div ng-if="feature.total_count == 0" class="feature-distribution feature-empty"></div>
                            <span class="feature-total">{$ feature.total_count $}</span>
                        </div>
                        <h3>System keywords</h3>
                        <div class="features" ng-repeat="(feature_text, feature) in featureList.system" id="system-features">
                            <span class="feature-text">{$ feature_text $}</span>
                            <div ng-if="feature.total_count > 0" class="feature-distribution">
                                <div ng-repeat="(code, count) in feature.normalized_distribution" ng-style="distributionStyle(code, count)"></div>
                            </div>
                            <div ng-if="feature.total_count == 0" class="feature-distribution feature-empty"></div>
                            <span class="feature-total">{$ feature.total_count $}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 scroll-y">
                    <div class="box">
                        <h2>Comparison</h2>
                        <span us-spinner="spinnerOptions" spinner-key="pairwise-spinner"></span>
                        <div class="confusion" ng-class="{ selected: selectedConfusion==pair}" ng-repeat="pair in confusionPairs" ng-click="selectConfusion(pair)">
                            <div class="confusion-box" ng-style="{ 'background': codeColor(code_map[pair.user_code])}">{$ pair.user_code $}</div>
                            <div class="confusion-box" ng-style="{ 'background': codeColor(code_map[pair.partner_code])}">{$ pair.partner_code $}</div>
                            <div class="confusion-size">{$ pair.count $}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 scroll-y">
                    <div class="box box-left">
                        <h2>Submitted labels</h2>
                        <span us-spinner="spinnerOptions" spinner-key="submitted-label-spinner"></span>
                        <div>
                            <label>Search: <input ng-model="searchText"></label>
                        </div>
                        <div ng-repeat="item in allItems | filter:filterTweetsConfusion()" class="label-item" ng-style="{ 'border-color': codeColor(code_map[item.user_code.text]) }" ng-mouseover="onItemHover(item)" ng-mouseleave="onItemLeave(item)">
                        <div ng-show="hoveredItem==item">
                            <div>
                                <div class='btn btn-toggle' ng-class="{'active': item.is_saved}" ng-click="updateItem(item, !item.is_saved, item.is_example, item.is_ambiguous)"><span class="glyphicon glyphicon-tag"></span></div>
                                <div class='btn btn-toggle' ng-class="{'active': item.is_example}" ng-click="updateItem(item, item.is_saved, !item.is_example, item.is_ambiguous)"><span class="glyphicon glyphicon-star"></span></div>
                                <div class='btn btn-toggle' ng-class="{'active': item.is_ambiguous}" ng-click="updateItem(item, item.is_saved, item.is_example, !item.is_ambiguous)"><span>?</span></div>
                                <div class="inline" ng-show="item.disagreement_indicator">
                                    <label for="indicator">Disagreement Indicator: </label>
                                    <select name="indicator" ng-model="item.disagreement_indicator"
                                            ng-init="item.disagreement_indicator=item.disagreement_indicator"
                                            ng-change="updateIndicator(item)">
                                        <option ng-repeat="indicator in indicators" value="{$ indicator $}" >{$ indicator_mapping[indicator] $}</option>
                                    </select>

                                </div>
                            </div>
                            <div class="tweet-selectable"><span ng-repeat="char in item.characters track by $index" class="ng-class:'char-'+$index;"
                                   ng-mouseenter="onCharMouseEnter(item, $index)"
                                   ng-mouseleave="onCharMouseLeave(item, $index)"
                                   ng-mousedown="onCharMouseDown(item, $index, $event)"
                                   ng-mouseup="onCharMouseUp(item, $index, $event)"
                                   ng-style="charStyle(item, $index)">{$ char $}</span>
                            </div>
                            <button class="btn btn-default" ng-click="addFeature(item)">Add Feature</button>
                        </div>

                        <div ng-hide="hoveredItem==item">{$ item.message.text $}</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
