{% extends '_layouts/base.html' %}
{% load staticfiles djangular_tags %}

{% block page_title %}TweetCoderViz{% endblock %}

{% block meta %}
<meta name="twitter:widgets:csp" content="on">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'theme.less' %}" type="text/less">
<link rel="stylesheet" href="{% static 'style.less' %}" type="text/less">
<link rel="stylesheet" href="{% static 'bower/c3/c3.css' %}">
<link rel="stylesheet" href="{% static 'tweet_coder_viz.less' %}" type="text/less">

{% endblock %}

{% block js %}
{{ block.super }}

<script src="{% static 'bower/angular/angular.js' %}"></script>
<script src="{% static 'bower/angular-cookies/angular-cookies.js' %}"></script>
<script src="{% static 'bower/angular-route/angular-route.js' %}"></script>
<script src="{% static 'bower/angular-resource/angular-resource.js' %}"></script>
<script src="{% static 'bower/angular-animate/angular-animate.js' %}"></script>
<script src="{% static 'bower/angular-sanitize/angular-sanitize.js' %}"></script>
<script src="{% static 'bower/angucomplete-alt/angucomplete-alt.js' %}"></script>
<script src="{% static 'bower/angular-smart-table/dist/smart-table.js' %}"></script>

<script src="{% static 'bower/jquery-ui/ui/core.js' %}"></script>
<script src="{% static 'bower/jquery-ui/ui/widget.js' %}"></script>
<script src="{% static 'bower/jquery-ui/ui/mouse.js' %}"></script>
<script src="{% static 'bower/jquery-ui/ui/draggable.js' %}"></script>
<script src="{% static 'bower/jquery-ui/ui/droppable.js' %}"></script>
<script src="{% static 'bower/angular-dragdrop/src/angular-dragdrop.js' %}"></script>

<script src="{% static 'djangular/js/django-angular.js' %}"></script>

<script src="{% static 'bower/spin.js/spin.js' %}"></script>
<script src="{% static 'bower/angular-spinner/angular-spinner.js' %}"></script>
    
<script src="{% static 'bower/moment/moment.js' %}"></script>
<script src="{% static 'bower/d3/d3.js' %}"></script>
<script src="{% static 'bower/c3/c3.js' %}"></script>

<script src="{% static 'tweet_coder_viz/app.js' %}"></script>
<script src="{% static 'tweet_coder_viz/services.js' %}"></script>
<script src="{% static 'tweet_coder_viz/controllers.js' %}"></script>


{% endblock %}

{% block navigation_bar %}
{% endblock %}

{% block bootstrapping %}
{{ block.super }}
<script>
    angular.module('ng.django.urls')
        .constant('patterns', {% load_djng_urls %});

    angular.module('TweetCoderViz.bootstrap')
        .constant('TweetCoderViz.bootstrap.dictionary', {{ object.pk }});
</script>

{% endblock %}

{% block content %}

<div ng-app="TweetCoderViz" id="application" class="container-fluid"  ng-controller="TweetCoderViz.controllers.DictionaryController">
    <div id="titleWrap" class="row clearfix"  ng-cloak="">

         <div class="logo-titles">
             <span class="title">Tweet Coder</span>
             <span class="description">Tweet labeling interface with visualization</span>
             <span class="dataset">{$ Dictionary.dataset.description $} ({$ Dictionary.dataset.message_count $} messages)</span>
         </div>

    </div>
    <div id="content" class="ng-cloak" ng-cloak  ng-controller="TweetCoderViz.controllers.ViewController" >
        <div class="row" id="labeling">
            <div class="col-md-9 tweet-main">
                    <span ng-repeat="char in currentMessage.characters track by $index"
                       ng-style="char.style">{$char.char$}</span>
            </div>
            <div class="col-md-3 tweet-submit">
                <div class="">
                    <div>
                        <div class='btn btn-toggle' ng-class="{'active': currentMessage.saved}" ng-click="currentMessage.saved=!currentMessage.saved"><span class="glyphicon glyphicon-tag"></span></div>
                        <span> Tag this tweet</span>
                    </div>

                    <div>
                        <div class='btn btn-toggle' ng-class="{'active': currentMessage.example}" ng-click="currentMessage.example=!currentMessage.example"><span class="glyphicon glyphicon-star"></span></div>
                        <span> Save as an example tweet</span>
                    </div>

                    <div>
                        <div class='btn btn-toggle' ng-class="{'active': currentMessage.ambiguous}" ng-click="currentMessage.ambiguous=!currentMessage.ambiguous"><span>?</span></div>
                        <span> Mark as an ambiguous tweet</span>
                    </div>
                    <button class="btn btn-default" ng-disabled="!currentMessage.label" ng-click="submitLabel()">Submit Code</button>
                </div>
            </div>
        </div>
        <div class="row" id="codes" data-toggle="buttons">
            <div class="btn btn-default" ng-repeat="code in codes"
                       ng-click="selectLabel(code.text)"
                       ng-class="{'active': code.text == currentMessage.label}"
                       ng-style="buttonStyle(code)">
                <div class="code-name">{$ code.text $}</div>
                <div class="code-definition">
                    <p><strong>definition: </strong>{$ code.definitionMaster $}</p>
                    <p><strong>example: </strong>{$ code.example $}</p>
                </div>
            </div>
        </div>
        <div class="row" id="panel" ng-repeat="code in codes" ng-style="{ 'background-color': codeColorLight(code) }" ng-show="code.text == currentMessage.label">
            <div class="col-md-4">
                <p><strong>Master definition: </strong>{$ code.definitionMaster $}</p>
                <p><strong>My definition: </strong>{$ code.definitionMine $}</p>
            </div>
            <div class="col-md-4">
                Feature area
            </div>
            <div class="col-md-4">
                <div ng-repeat="item in code.items" class="label-item" ng-style="{ 'border-color': codeColor(code) }">
                    <div>
                        <div class='btn btn-toggle' ng-class="{'active': item.gold}" disabled><span class="glyphicon glyphicon-certificate"></span></div>
                        <div class='btn btn-toggle' ng-class="{'active': item.saved}" ng-click="item.saved=!item.saved"><span class="glyphicon glyphicon-tag"></span></div>
                        <div class='btn btn-toggle' ng-class="{'active': item.example}" ng-click="item.example=!item.example"><span class="glyphicon glyphicon-star"></span></div>
                        <div class='btn btn-toggle' ng-class="{'active': item.ambiguous}" ng-click="item.ambiguous=!item.ambiguous"><span>?</span></div>
                    </div>
                    <div>{$ item.text $}</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
{% endblock %}
